.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
*.md

*_files/

# R Environment Variables
.Renviron
