@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans|Raleway:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap');

body {
  /*background-color: #273043;*/
  background-image: radial-gradient(circle, #86d4bc, #c2e4c6, #20a2a3);
  font-size: 16px;
}

.container-fluid {
  background-color: #fff;
  border: 1px solid #273043;
  border-radius: 25px;
  padding: 25px 60px 25px;
}

p {
  font-family: 'Crimson Text', serif;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

li {
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  color: #5F634F; /*ff6b6b;*/
  margin-top: 20px;
  margin-bottom: 10px;
}

 /* unvisited link */
a:link {
  color: #20a2a3;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: #20a2a3;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: #ca054d;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #20a2a3;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  text-decoration: underline;
} 


/* Style blockquotes*/
blockquote {
  margin: 0;
  border-left: 5px solid #f02d3a;
  background-color: #e4e6c3;
}

blockquote p {
  color: #353535;
  margin: 8px 0 24px 0;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
}


/* Style actualquotes*/
p.actualquote{
  padding-left: 80px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;
  margin: 5px;
  background-image: url(../figs/openquote4.png);
  background-position: left top;
  background-repeat: no-repeat;
}


/* -----------div tips------------- */
div.note {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-image: url("../figs/tools2.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #1f5386;
  background-color: #bed3ec;
  border: solid 5px #dfedff;
  }


.MathJax {
  font-size: 150%;
}

/* Style author */
.author {
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    color: #273043;
    margin: 40px auto 5px auto;
    line-height: 1;
}

.author em {
  font-style: normal;
}

/* Style date */
.date {
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: normal;
    color: #273043;
    margin: 0 auto 100px auto;
    line-height: 1;
}

.date em {
  font-style: normal;
}

/* Style title */
.title {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 50px;
    color: #273043;
    margin: 1rem auto;
    line-height: 1;
}


/* Style figure captions */
.figure .caption{
  font-style: italic;
  color: black;
  font-family: 'Crimson Text', serif;
  font-size: 14px;
  caption-side: top;
  margin-bottom: 20px;
}


/* Style cover art */
.cover{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* Style notes */
.math {
  font-size: 100%;
}


/* Style notes */
.shownote {
  color: #777;
}


.george{
  padding-left: 50px;
  margin-top: 20px;
}

.chapterquote{
  font-style: italic;
  color: black;
  font-family: 'Crimson Text', serif;
  text-align: right;
}

.chapterquote .quoteauthor {
  font-style: normal;
}

.authorinitials {
  float: right;
}

/* Previous and Next buttons*/

.btn-default {
  color: #fff;
  background-color: #002B3C;
  border-color: #000;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
}

.btn-default:hover {
  background-color: #0677A3;
  color: white;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* References */
#refs {
  padding-left: 22px;
  text-indent: -22px;
}


